#new-task-container
  h4 New task
  input(
    type='text'
    placeholder='title'
    id='new-title'
    name='title'
    required
  )
  input(
    type='text'
    placeholder='context'
    id='new-context'
    name='context'
    required
  )
  input(
    type='text'
    placeholder='choice; another choice'
    id='new-choices'
    name='choices'
    required
  )
  input(
    type='text'
    placeholder='keyword another_keyword'
    id='new-keywords'
    name='keywords'
    required
  )
  button#add-task Add task
