extends layout

block content
  h1 #{title}
  ul#tasks-list(hidden)
    li.tasks-list-element
  br
  button#add-task(onclick='window.alert(\'add task\')') Add task
  br
  label(for='workers-per-task') workers per task
  input(
    type='numeric'
    placeholder='workers per task'
    id='workers-per-task'
    name='workers-per-task'
    required
  )
  br
  label(for='task-majority-threshold') task majority threshold
  input(
    type='numeric'
    placeholder='task majority threshold'
    id='task-majority-threshold'
    name='task-majority-threshold'
    required
  )
  br
  button#submit(onclick='window.alert(\'created :/ maybe not\')') Create
