doctype html
html
  head
    include stylesheets
  body
    h1= title
    form(action='#')
        label(for='email')= 'email'
        input(
            type='text'
            placeholder='Email'
            id='email'
            name='email'
            required
        )
        label(for='password')= 'password'
        input(
            type='text'
            placeholder='password'
            id='password'
            name='password'
            required
        )
        button(type='submit')= 'Signup'
