<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  </head>
  <body>
    <form action="worker-campaigns.html" method="GET">
      <div id="task-description">
        <p id="task-title" name="title">{{task.name}}</p>
        <p id="task-context" name="context">{{task.context}}</p>
      </div>
      <div id="task-choices">
        {{#each task.choices}}
          <input type="radio" id="{{this.htmlRadioId}}" name="choice" value="{{this.value}}" required>
          <label for="{{this.htmlRadioId}}">{{this.name}}</label>
        {{/each}}
      </div>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>